{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="max-w-md mx-auto p-4">
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
                <small style="color:red;">{{ error }}</small>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <small style="color:red;">{{ error }}</small>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}